$text-color: #4a4a4a;
$text-color-dark: #222;
$text-color-light: #bbb;
$bg-color: #fff;
$bg-tint-color: #f3f3f3;
$primary-color: #f6bb00;
$primary-color-dark: #b88c00;
$link-color: #30a7d3;
$error-color: #d0021b;