.row.jumbotron
  .medium-4.columns
    a(href='work') I do<br>digital<br>design
    a.arrow(href='work')  &gt;
  .medium-4.columns
    a(href='blog') I write<br>about<br>it
    a.arrow(href='blog')  &gt;
  .medium-4.columns
    a(href='speaking') I speak<br>about<br>it
    a.arrow(href='speaking')  &gt;

.row
  article.large-12.columns.no-heading
    p I’m a user experience design specialist based in London.
    p I involve real users throughout the design process to create great digital products.
    p I do a lot of research, design and prototyping and I live for the ‘aha’ moments.

    p In case you're interested:
      ul
        li I am a #[a(href='http://www.foolproof.co.uk/team/people/matt-radbourne/') Senior Designer at Foolproof].
        li I help teach at #[a(href='https://generalassemb.ly/instructors/matt-radbourne/4393') General Assembly].
        li I run an #[a(href='http://www.foolproof.co.uk/open-device-lab/') open device lab].
        li I also make #[a(href='https://vimeo.com/72029612') movies] and #[a(href='https://soundcloud.com/mradbourne/sets/swandive-ep') music].
        li I have worked with #[a(href='https://www.uel.ac.uk/news/press-releases/2010/04/affect-ed.htm') children], but not animals.