.form(id='form1', action='javascript://', onsubmit='alert()')
  input(type='text', name='user', placeholder='Username')
  input(type='text', name='pass', placeholder='Password')
  input.button(type='submit', value='Login')