.row
  article.large-12.columns
    h1 Speaking
    h2 Upcoming talks
    p Nothing planned. :)

    h2 Past talks
    .post-item
      span.date 23-04-2014
      a(href='/blog/from-participants-to-pixels') From participants to pixels: Making the transition from UX Researcher to UX Designer
      |  at HCID 2014
    .post-item
      span.date 20-11-2012
      a(href='/blog/is-the-world-ready-for-windows-8') Is the world ready for Windows 8?
      |  at Untapped
    .post-item
      span.date 29-03-2012
      u NFC and sports betting: Closing the gap between intention and action
      |  at Near Field Norwich

    h2 Get in touch
    p If you would like to talk to me about speaking opportunities, please #[a(href='/email-me') drop me an email].