- var site = {"baseurl": "http://files.radbourne.me/examples/radbourne"}
//- Also in header.jade and footer.jade

footer.row
  .large-12.columns
    p
      | Find me on 
      a(href='https://twitter.com/mradbourne')
        i.fi-social-twitter
      |  and 
      a(href='http://uk.linkedin.com/in/mradbourne/')
        i.fi-social-linkedin
script(src='#{site.baseurl}/bower_components/jquery/dist/jquery.min.js')
script(src='#{site.baseurl}/js/app.js')