footer.row
  .large-12.columns
    p
      | Find me on 
      a(href='https://twitter.com/mradbourne')
        i.fi-social-twitter
      |  and 
      a(href='http://uk.linkedin.com/in/mradbourne/')
        i.fi-social-linkedin
script(src='/bower_components/jquery/dist/jquery.min.js')
script(src='/js/app.js')