header.row
  .large-12.columns
    .title
      a(href="/") Matt Radbourne 
        span.subtitle UX Designer
    nav
      a(href="/", class="#{ current.path[0] == 'index' ? 'active' : '' }") Hello
      a(href="/work", class="#{ current.path[0] == 'work' ? 'active' : '' }") Work
      a(href="/blog", class="#{ current.path[0] == 'blog' ? 'active' : '' }") Blog
      a(href="/speaking", class="#{ current.path[0] == 'speaking' ? 'active' : '' }") Speaking